poetry : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
At line:1 char:1
+ poetry run alembic upgrade 43aeb196576c --sql > meal_templates_migrat ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:Str 
   ing) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> 0c90191dbca7, Initial schema
-- Running upgrade  -> 0c90191dbca7

CREATE TABLE users (
    email VARCHAR(255) NOT NULL, 
    hashed_password VARCHAR(255), 
    full_name VARCHAR(255) NOT NULL, 
    oauth_provider VARCHAR(50), 
    oauth_provider_user_id VARCHAR(255), 
    is_active BOOLEAN NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (email), 
    CONSTRAINT unique_oauth_user UNIQUE (oauth_provider, oauth_provider_user_id)
);

CREATE INDEX idx_users_email ON users (email) WHERE deleted_at IS NULL;

CREATE INDEX idx_users_oauth ON users (oauth_provider, oauth_provider_user_id) WHERE deleted_at IS NULL;

CREATE TABLE onboarding_states (
    user_id UUID NOT NULL, 
    current_step INTEGER NOT NULL, 
    is_complete BOOLEAN NOT NULL, 
    step_data JSONB NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    CONSTRAINT unique_user_onboarding UNIQUE (user_id)
);

CREATE INDEX idx_onboarding_user ON onboarding_states (user_id) WHERE deleted_at IS NULL;

CREATE TABLE user_profiles (
    user_id UUID NOT NULL, 
    is_locked BOOLEAN NOT NULL, 
    fitness_level VARCHAR(50), 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    CONSTRAINT unique_user_profile UNIQUE (user_id)
);

CREATE INDEX idx_profile_user ON user_profiles (user_id) WHERE deleted_at IS NULL;

CREATE TABLE dietary_preferences (
    profile_id UUID NOT NULL, 
    diet_type VARCHAR(50) NOT NULL, 
    allergies TEXT[] NOT NULL, 
    intolerances TEXT[] NOT NULL, 
    dislikes TEXT[] NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id), 
    CONSTRAINT unique_profile_dietary UNIQUE (profile_id)
);

CREATE INDEX idx_dietary_preferences_profile ON dietary_preferences (profile_id) WHERE deleted_at IS NULL;

CREATE TABLE fitness_goals (
    profile_id UUID NOT NULL, 
    goal_type VARCHAR(50) NOT NULL, 
    target_weight_kg NUMERIC(5, 2), 
    target_body_fat_percentage NUMERIC(4, 2), 
    priority INTEGER NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id)
);

CREATE INDEX idx_fitness_goals_profile ON fitness_goals (profile_id) WHERE deleted_at IS NULL;

CREATE TABLE hydration_preferences (
    profile_id UUID NOT NULL, 
    daily_water_target_ml INTEGER NOT NULL, 
    reminder_frequency_minutes INTEGER NOT NULL, 
    enable_notifications BOOLEAN NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id), 
    CONSTRAINT unique_profile_hydration UNIQUE (profile_id)
);

CREATE INDEX idx_hydration_preferences_profile ON hydration_preferences (profile_id) WHERE deleted_at IS NULL;

CREATE TABLE lifestyle_baselines (
    profile_id UUID NOT NULL, 
    energy_level INTEGER, 
    stress_level INTEGER, 
    sleep_quality INTEGER, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_energy_level CHECK (energy_level BETWEEN 1 AND 10), 
    CONSTRAINT valid_sleep_quality CHECK (sleep_quality BETWEEN 1 AND 10), 
    CONSTRAINT valid_stress_level CHECK (stress_level BETWEEN 1 AND 10), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id), 
    CONSTRAINT unique_profile_lifestyle UNIQUE (profile_id)
);

CREATE INDEX idx_lifestyle_baselines_profile ON lifestyle_baselines (profile_id) WHERE deleted_at IS NULL;

CREATE TABLE meal_plans (
    profile_id UUID NOT NULL, 
    daily_calorie_target INTEGER NOT NULL, 
    protein_percentage NUMERIC(5, 2) NOT NULL, 
    carbs_percentage NUMERIC(5, 2) NOT NULL, 
    fats_percentage NUMERIC(5, 2) NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_macro_sum CHECK (protein_percentage + carbs_percentage + fats_percentage = 100), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id), 
    CONSTRAINT unique_profile_meal_plan UNIQUE (profile_id)
);

CREATE INDEX idx_meal_plans_profile ON meal_plans (profile_id) WHERE deleted_at IS NULL;

CREATE TABLE meal_schedules (
    profile_id UUID NOT NULL, 
    meal_name VARCHAR(100) NOT NULL, 
    scheduled_time TIME WITHOUT TIME ZONE NOT NULL, 
    enable_notifications BOOLEAN NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id)
);

CREATE INDEX idx_meal_schedules_profile ON meal_schedules (profile_id) WHERE deleted_at IS NULL;

CREATE TABLE physical_constraints (
    profile_id UUID NOT NULL, 
    constraint_type VARCHAR(50) NOT NULL, 
    description TEXT NOT NULL, 
    severity VARCHAR(20), 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id)
);

CREATE INDEX idx_physical_constraints_profile ON physical_constraints (profile_id) WHERE deleted_at IS NULL;

CREATE TABLE user_profile_versions (
    profile_id UUID NOT NULL, 
    version_number INTEGER NOT NULL, 
    change_reason VARCHAR(500), 
    snapshot JSONB NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id)
);

CREATE INDEX idx_profile_versions ON user_profile_versions (profile_id, version_number);

CREATE TABLE workout_schedules (
    profile_id UUID NOT NULL, 
    day_of_week INTEGER NOT NULL, 
    scheduled_time TIME WITHOUT TIME ZONE NOT NULL, 
    enable_notifications BOOLEAN NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(profile_id) REFERENCES user_profiles (id)
);

CREATE INDEX idx_workout_schedules_profile ON workout_schedules (profile_id) WHERE deleted_at IS NULL;

INSERT INTO alembic_version (version_num) VALUES ('0c90191dbca7') RETURNING alembic_version.version_num;

INFO  [alembic.runtime.migration] Running upgrade 0c90191dbca7 -> 3a4feffbb7a1, 
add_workout_and_chat_tables
-- Running upgrade 0c90191dbca7 -> 3a4feffbb7a1

CREATE TABLE exercise_library (
    id UUID NOT NULL, 
    exercise_name VARCHAR(255) NOT NULL, 
    exercise_slug VARCHAR(255) NOT NULL, 
    exercise_type VARCHAR(50) NOT NULL, 
    primary_muscle_group VARCHAR(100) NOT NULL, 
    secondary_muscle_groups TEXT[], 
    equipment_required TEXT[] DEFAULT '{}' NOT NULL, 
    difficulty_level VARCHAR(50) NOT NULL, 
    description TEXT NOT NULL, 
    instructions TEXT NOT NULL, 
    gif_url TEXT, 
    video_url TEXT, 
    is_compound BOOLEAN DEFAULT 'false' NOT NULL, 
    is_unilateral BOOLEAN DEFAULT 'false' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_exercise_type CHECK (exercise_type IN ('strength', 'cardio', 'flexibility', 'plyometric', 'olympic')), 
    CONSTRAINT valid_difficulty CHECK (difficulty_level IN ('beginner', 'intermediate', 'advanced')), 
    CONSTRAINT unique_exercise_name UNIQUE (exercise_name), 
    CONSTRAINT unique_exercise_slug UNIQUE (exercise_slug)
);

CREATE INDEX idx_exercise_library_type ON exercise_library (exercise_type);

CREATE INDEX idx_exercise_library_muscle ON exercise_library (primary_muscle_group);

CREATE INDEX idx_exercise_library_difficulty ON exercise_library (difficulty_level);

CREATE INDEX idx_exercise_library_equipment ON exercise_library USING gin (equipment_required);

CREATE TABLE workout_plans (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    plan_name VARCHAR(255) NOT NULL, 
    plan_description TEXT, 
    duration_weeks INTEGER NOT NULL, 
    days_per_week INTEGER NOT NULL, 
    plan_rationale TEXT, 
    is_locked BOOLEAN DEFAULT 'true' NOT NULL, 
    locked_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_duration CHECK (duration_weeks >= 1 AND duration_weeks <= 52), 
    CONSTRAINT valid_days_per_week CHECK (days_per_week >= 1 AND days_per_week <= 7), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT unique_user_workout_plan UNIQUE (user_id)
);

CREATE UNIQUE INDEX idx_workout_plans_user_id ON workout_plans (user_id);

CREATE INDEX idx_workout_plans_updated ON workout_plans (updated_at DESC);

CREATE TABLE workout_days (
    id UUID NOT NULL, 
    workout_plan_id UUID NOT NULL, 
    day_number INTEGER NOT NULL, 
    day_name VARCHAR(255) NOT NULL, 
    muscle_groups TEXT[] NOT NULL, 
    workout_type VARCHAR(50) NOT NULL, 
    description TEXT, 
    estimated_duration_minutes INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_day_number CHECK (day_number >= 1 AND day_number <= 7), 
    CONSTRAINT valid_workout_type CHECK (workout_type IN ('strength', 'cardio', 'hiit', 'active_recovery', 'rest')), 
    FOREIGN KEY(workout_plan_id) REFERENCES workout_plans (id) ON DELETE CASCADE, 
    CONSTRAINT unique_plan_day UNIQUE (workout_plan_id, day_number)
);

CREATE INDEX idx_workout_days_plan ON workout_days (workout_plan_id, day_number);

CREATE TABLE workout_exercises (
    id UUID NOT NULL, 
    workout_day_id UUID NOT NULL, 
    exercise_library_id UUID NOT NULL, 
    exercise_order INTEGER NOT NULL, 
    sets INTEGER NOT NULL, 
    reps_min INTEGER, 
    reps_max INTEGER, 
    reps_target INTEGER, 
    weight_kg NUMERIC(6, 2), 
    weight_progression_type VARCHAR(50), 
    rest_seconds INTEGER DEFAULT '60' NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_sets CHECK (sets >= 1 AND sets <= 20), 
    CONSTRAINT valid_reps CHECK ((reps_target IS NOT NULL AND reps_target >= 1 AND reps_target <= 100) OR (reps_min IS NOT NULL AND reps_max IS NOT NULL AND reps_min <= reps_max)), 
    CONSTRAINT valid_rest CHECK (rest_seconds >= 0 AND rest_seconds <= 600), 
    CONSTRAINT valid_progression CHECK (weight_progression_type IS NULL OR weight_progression_type IN ('linear', 'percentage', 'rpe_based', 'none')), 
    FOREIGN KEY(workout_day_id) REFERENCES workout_days (id) ON DELETE CASCADE, 
    FOREIGN KEY(exercise_library_id) REFERENCES exercise_library (id), 
    CONSTRAINT unique_day_exercise_order UNIQUE (workout_day_id, exercise_order)
);

CREATE INDEX idx_workout_exercises_day ON workout_exercises (workout_day_id, exercise_order);

CREATE INDEX idx_workout_exercises_library ON workout_exercises (exercise_library_id);

CREATE TABLE chat_sessions (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    session_type VARCHAR(50) DEFAULT 'general' NOT NULL, 
    context_data JSONB DEFAULT '{}'::jsonb NOT NULL, 
    status VARCHAR(50) DEFAULT 'active' NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    ended_at TIMESTAMP WITH TIME ZONE, 
    last_activity_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_session_type CHECK (session_type IN ('general', 'workout', 'meal', 'supplement', 'tracking')), 
    CONSTRAINT valid_status CHECK (status IN ('active', 'completed', 'abandoned')), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX idx_chat_sessions_user ON chat_sessions (user_id, started_at DESC);

CREATE INDEX idx_chat_sessions_active ON chat_sessions (user_id, status) WHERE status = 'active';

CREATE TABLE chat_messages (
    id UUID NOT NULL, 
    session_id UUID NOT NULL, 
    role VARCHAR(50) NOT NULL, 
    content TEXT NOT NULL, 
    agent_type VARCHAR(50), 
    metadata JSONB DEFAULT '{}'::jsonb NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_role CHECK (role IN ('user', 'assistant', 'system')), 
    CONSTRAINT valid_agent_type CHECK (agent_type IS NULL OR agent_type IN ('workout_planning', 'diet_planning', 'supplement_guidance', 'tracking_adjustment', 'scheduling_reminder', 'conversational')), 
    FOREIGN KEY(session_id) REFERENCES chat_sessions (id) ON DELETE CASCADE
);

CREATE INDEX idx_chat_messages_session ON chat_messages (session_id, created_at);

UPDATE alembic_version SET version_num='3a4feffbb7a1' WHERE alembic_version.version_num = '0c90191dbca7';

INFO  [alembic.runtime.migration] Running upgrade 3a4feffbb7a1 -> 957d7289c7c3, 
make_updated_at_non_nullable
-- Running upgrade 3a4feffbb7a1 -> 957d7289c7c3

Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Scripts\alembic.exe\__main__.py", line 7, in <module>
    sys.exit(main())
             ~~~~^^
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\config.py", line 1047, in main
    CommandLine(prog=prog).main(argv=argv)
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\config.py", line 1037, in main
    self.run_cmd(cfg, options)
    ~~~~~~~~~~~~^^^^^^^^^^^^^^
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\config.py", line 971, in run_cmd
    fn(
    ~~^
        config,
        ^^^^^^^
        *[getattr(options, k, None) for k in positional],
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        **{k: getattr(options, k, None) for k in kwarg},
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\command.py", line 483, in upgrade
    script.run_env()
    ~~~~~~~~~~~~~~^^
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\script\base.py", line 545, in run_env
    util.load_python_file(self.dir, "env.py")
    ~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\util\pyfiles.py", line 116, in 
load_python_file
    module = load_module_py(module_id, path)
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\util\pyfiles.py", line 136, in load_module_py
    spec.loader.exec_module(module)  # type: ignore
    ~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^
  File "<frozen importlib._bootstrap_external>", line 1022, in exec_module
  File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
  File "C:\Users\EthaN\Desktop\shuren AI\backend\alembic\env.py", line 166, in 
<module>
    run_migrations_offline()
    ~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\EthaN\Desktop\shuren AI\backend\alembic\env.py", line 105, in 
run_migrations_offline
    context.run_migrations()
    ~~~~~~~~~~~~~~~~~~~~~~^^
  File "<string>", line 8, in run_migrations
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\runtime\environment.py", line 969, in 
run_migrations
    self.get_context().run_migrations(**kw)
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\alembic\runtime\migration.py", line 626, in 
run_migrations
    step.migration_fn(**kw)
    ~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\EthaN\Desktop\shuren 
AI\backend\alembic\versions\957d7289c7c3_make_updated_at_non_nullable.py", line 
49, in upgrade
    inspector = sa.inspect(connection)
  File "C:\Users\EthaN\AppData\Local\pypoetry\Cache\virtualenvs\shuren-backend-9oCQ
o8rF-py3.13\Lib\site-packages\sqlalchemy\inspection.py", line 147, in inspect
    raise exc.NoInspectionAvailable(
    ...<2 lines>...
    )
sqlalchemy.exc.NoInspectionAvailable: No inspection system is available for object 
of type <class 'sqlalchemy.engine.mock.MockConnection'>
